:root {
  --gray0: #e7e7f0;
  --gray1: #dbdbe4;
  --gray2: #d0d0d8;
  --gray3: #adadb4;
  --gray4: #8a8a90;
  --gray5: #68686c;
  --gray6: #454548;
  --gray7: #29292b;
  --gray8: #171718;
  --gray9: #121213;
}
